:root{
  --primary-color : #1967d2;
  --primary-color-hover : #0146a6;
  --primary-lite:  #f0f5f7
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.banner-container{
    background-image: url('/bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    color: rgb(0, 0, 0);
    height: 170px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}
.banner-container>div{
  text-align: center;
}

.banner-container>div>h1{
  font-size: 30px;
  margin-bottom: 12px;
}

.main-container{
  width: 100%;
  display: flex;
  padding: 0 100px;
/* justify-content: space-around; */
}
.filter_section{
  /* width: 40%; */
  min-width: 400px;
  /* width: 35%; */
}

.jobs_section{
  width: 100%;
  padding: 20px;
}



/* scroll to Top css */


  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border-radius: 50%;
    background-color: var(--primary-lite);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    /* padding: 10px; */
    width: 40px;
    aspect-ratio: 1/1;
    transition: all 0.2s ease;
  }

  #scrollToTopBtn:hover {
    background-color: #0056b3;
    color: white;
  }


